
h1 {
  font-size: 48px;
  text-align: center;
  float:center;
  margin: 10px auto;
}

.solid-gop {background: #D22532;}
.likely-gop {background: #FF5865;}
.lean-gop {background: #FF8B98;}
.tossup {background: #9E8767;}
.lean-dem {background: #8AAFFF;}
.likely-dem {background: #577CCC;}
.solid-dem {background: #244999;}

.key-color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.key {
  position: absolute;
  bottom: -100px;
  right: 130px;
  border: 2px solid black;
  padding: 20px;
}

.key-title {
  margin-bottom: 5px;
}

.key-item {
  margin: 0 auto;
}

.info {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.mid-info {
  font-size: 16px;
  text-align: center;
}

.sub-info {
   font-size: 16px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 24px;
  text-align: center;
  float:center;
}

#map {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 600px;
  float:center;
  display: block;
}

#demSum {
  position: absolute;
  top: 100px;
  left: 100px;
  font-size: 36px;
}

#repSum {
  position: absolute;
  top: 100px;
  right: 100px;
  font-size: 36px;
}


#leanRepSum, #likRepSum, #solRepSum, #leanDemSum, #likDemSum, #solDemSum, #tossup {
  text-align: center;
  float:center;
  margin: 0 auto;
  font-size: 12px;
  display: block;
  float: left;
  clear: both;
  display: none;
}

/*can probably do all of this from the js side*/
.votes-bar {
  text-align: center;
    margin: 20px auto;
    margin-bottom: 15px;
  border: 4px solid black;
  display: block;
  display: table;
  width: 100%;
  max-width: 60%;
  align-content: center;
  align-items: center;
  float: center
  }

.lean-dem-bar {
  width: 15%; 
  background-color: #8AAFFF;
  height: 20px;
  display: table-cell;
}

.lik-dem-bar {
  width: 15%; 
  background-color: #577CCC;
  height: 20px;
  display: table-cell;
}

.sol-dem-bar {
  width: 15%; 
  background-color: #244999;
  height: 20px;
  display: table-cell;
}

 .lean-rep-bar {
  width: 15%; 
  background-color: #FF8B98;
  height: 20px;
  display: table-cell;
}

.lik-rep-bar {
  width: 15%; 
  background-color: #FF5865;
  height: 20px;
  display: table-cell;
}

.sol-rep-bar {
  width: 15%; 
  background-color: #D22532;
  height: 20px;
  display: table-cell;
}

.tossup-bar {
  width: 15%; 
  background-color: #9E8767;
  height: 20px;
  display: table-cell;
}