
h1 {
  font-size: 36px;
  text-align: center;
  float:center;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

#map {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 600px;
  float:center;
  display: block;
}

#demSum, #repSum, #leanRepSum, #likRepSum, #solRepSum, #leanDemSum, #likDemSum, #solDemSum, #tossup {
  text-align: center;
  float:center;
  margin: 0 auto;
  font-size: 12px;
  display: block;
  float: left;
  clear: both;
}
