html, body { margin:0; padding:0; overflow:hidden }
svg { position:fixed; top:0; bottom:0; left:0; right:0 }

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

.state {fill:#D3D3D3;}

#FL { fill: orange !important }
#KS, #MT, #PA {fill:#0000FF;}
#TX {fill: red;}

#us-map {
  width: 100%;
  height: 100%;
  background-color: black;
  margin-left:auto; margin-right:auto; display:block
}

path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}